.header-outer-container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-color: transparent; */
    height: 10vh;
    color: white;
    transition: all 0.5s ;
    transition-timing-function:ease-in ;
    z-index: 1;
}
.header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-left{
    width: 70%;

}
.header-left ul {
    /* width: 140%; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    cursor: pointer;
}

.header-right{
    width: 25%;
}
.header-right ul {
    /* width: 30%; */
     display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    cursor: pointer;
}